h3{
    color:#00000;
    font-family: san-serif;
}

#textInput{
    font-size: 18px;
    width: 100%;
    font-family: san-serif;
    text-align: left;
    padding: 10px;
}
body{
  font: size 60px;
    font-family: "sans-serif";
}


/* }
.button.button-primary, button.button-primary, input[type=button].button-primary, input[type=reset].button-primary, input[type=submit].button-primary {
    font-size: 24px;
    color: #FFF;
    background-color: pink;
} */

.bodyText {
  height: 55%;
  overflow-y: auto;
}

.botText{
  color: white;
  padding: 20px;
  font-size: 14px;
  border-radius: 20px;
  background:rgb(153, 153, 153);
}

.botBox {
  float: left;
  width: 60%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.customerBox{
  float: right;
  width: 60%;
}

.customerText{
  color: white;
  padding: 20px;
  font-size: 16px;
  border-radius: 20px;
  background:rgb(0, 122, 255);
}

.thinkingBox {
  float: left;
  color: rgb(153, 153, 153);
  width: 60%;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 45px;
}

.container {
    margin-top: 60px;

}
