h3{
    color:#00000;
    font-family: san-serif;
}

#textInput{
    font: size 16px;
    padding: 10px 100px 20px;
    background:#lightyellow;
    text: #grey;
    text-align: center
}
body{
    font-family: "PT Sans", "sans-serif";
  background-color: lightblue;
}


/* }
.button.button-primary, button.button-primary, input[type=button].button-primary, input[type=reset].button-primary, input[type=submit].button-primary {
    font-size: 24px;
    color: #FFF;
    background-color: pink;
} */

#result{
background:#lightyellow;
}

.container {
    margin-top: 60px;

}
